/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: semibold;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
}

button:not[disabled],
summary {
  cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* startje */
  --color-text: #111;
  --color-white: #eee;
  --color-gold: gold;
  --color-button-outline: #aa6c39;
  --color-dark-red: #9e3d51;
  --color-dark-purple: #421f3d;
  --color-background: linear-gradient(
    135deg,
    rgba(158, 61, 81, 1) 0%,
    rgba(66, 31, 61, 1) 100%
  );
  --dark-highlight: rgba(0, 0, 0, 0.2);
  --dark-highlight-border: rgba(255, 255, 255, 0.4);
  --bingo-number: linear-gradient(
    0deg,
    hsla(0, 0%, 100%, 1) 0%,
    hsla(50, 100%, 96%, 1) 100%
  );
  --bingo-button: linear-gradient(
    0deg,
    rgb(0, 242, 255) 0%,
    rgb(11, 176, 246) 100%
  );
  --color-matched: linear-gradient(
    0deg,
    rgb(44, 255, 44) 0%,
    rgb(29, 177, 0) 100%
  );
  --color-available: linear-gradient(
    0deg,
    rgb(236, 255, 220) 0%,
    rgb(217, 255, 191) 100%
  );
}

/****************/
/* JOUW STYLING */
/****************/
body {
  margin: 0;
  font-family: Poppins, sans-serif;
  color: var(--color-text);
  background-image: var(--color-background);
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}

/* jouw code */

h1 {
  position: relative;
  margin: 0 auto;
  margin-top: 0.5em;
  text-align: center;
  color: var(--color-white);
  padding: 0.2em;
  max-width: 80%;
  border-radius: 1em;
  background-image: var(--color-matched);
}

/* Style for the search bar */
#searchBar {
  display: block;
  margin: 20px auto;
  padding: 10px;
  width: 80%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  font-family: Arial, sans-serif;
}

#pullNumber {
  display: block;
  position: absolute;
  bottom: 1em;
  left: 0;
  right: 0;
  margin: auto;
  width: 15em;

  background-color: var(--color-gold);
  padding: 1em 1em 1em 1em;
  border-radius: 1.5em;
  border: 0.3em solid var(--color-button-outline);
  color: var(--color-text);

  font-size: 1.2em;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

body > section:nth-child(2) {
  display: flex;
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
  justify-content: center;
}

ul {
  align-self: center;
}

ul:nth-child(1) li:first-child:before {
  position: absolute;
  content: "";
  background-color: var(--dark-highlight-border);
  left: -0.65em;
  top: -0.55em;
  margin: auto;
  width: 4.5em;
  height: 4.3em;
  border-radius: 1em;
  z-index: -1;
}

ul:nth-child(1) {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  margin: 0 auto;
  max-width: 95%;
  list-style: none;
  padding: 1em;
  background-color: var(--dark-highlight);
  border: 0.2em solid var(--color-button-outline);
  justify-self: center;
  border-radius: 2em;
}

ul:nth-child(2) {
  list-style: none;
  padding: 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

ul:nth-child(2) li {
  position: relative;
  width: 10%;
  padding: 1em;
  margin: 0;
  background-image: var(--bingo-number);
  border-radius: 0.2em;
  border: 1px solid var(--color-button-outline);
}

li {
  position: relative;
  scroll-snap-align: end;

  width: 20%;
  background-color: var(--color-gold);
  border-radius: 3em;
  padding: 1em;
  margin: 0.75em;
  min-width: 3.5em;
  text-align: center;

  font-size: 1.2em;
  font-family: sans-serif;
  font-weight: 700;
  border: 0.2em solid var(--color-button-outline);
}

.available {
  animation: available-animation 1s infinite alternate;
  /* define the animation without the delay */
}

@keyframes available-animation {
  0%,
  100% {
    background-image: var(--bingo-number);
    /* start and end with the default background image */
    transform: scale(1);
    /* start and end with no scaling */
  }

  50% {
    transform: scale(1.05);
    /* scale up by 5% */
    background-image: var(--color-available);
    /* transition to the desired background image */
  }
}

.available {
  animation: available-animation 5s infinite ease-in-out alternate;
  /* define the animation without the delay */
}

@keyframes available-animation {
  0%,
  100% {
    background-image: var(--bingo-number);
    /* start and end with the default background image */
    transform: scale(1);
    /* start and end with no scaling */
  }

  50% {
    transform: scale(1.05);
    /* scale up by 5% */
    background-image: var(--color-available);
    /* transition to the desired background image */
  }
}

.matched {
  animation: matched-animation 1s forwards ease-in-out;
}

@keyframes matched-animation {
  0% {
    background-image: var(--bingo-number);
    /* start and end with the default background image */
    transform: scale(1);
    /* start and end with no scaling */
  }

  50% {
    transform: scale(1.1);
    /* scale up by 5% */
    background-image: var(--color-matched);
    /* transition to the desired background image */
  }

  100% {
    transform: scale(1);
    /* scale up by 5% */
    background-image: var(--color-matched);
    /* transition to the desired background image */
  }
}

body > section:nth-child(6) > button {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 14em;
  max-width: 60%;

  background-image: var(--bingo-button);
  padding: 0.5em;
  border-radius: 1.5em;
  border: 0.2em solid var(--color-white);
  color: var(--color-white);

  font-size: 1.5em;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

h2 {
  color: var(--color-white);
  text-align: center;
  margin: 0 auto;
  padding-top: 0.5em;
}

.pulled-number {
  font-size: 3em;
  text-align: center;
  z-index: 1;
  opacity: 0;
  animation: numberDisplayAnimation 3s ease-in-out forwards;
  background-color: var(--color-gold);
  padding: 1em;
  border-radius: 5em;
  position: absolute;
  width: 3.5em;
  height: 3.5em;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

@keyframes numberDisplayAnimation {
  0% {
    transform: scale(0); /* start with a scale of 0 */
    opacity: 0; /* start with an opacity of 0 */
  }
  50% {
    transform: scale(
      1.5
    ); /* halfway through, scale up to 1.5 times the original size */
    opacity: 1; /* halfway through, set the opacity to 1 to show it */
  }
  100% {
    transform: scale(1); /* end with the original scale */
    opacity: 0; /* end with an opacity of 0 to hide it again */
  }
}

li:focus {
  outline: 1em;
  border: 1em solid var(--color-gold); /* add a blue border */
}
