/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
  font-family: "futura";
  src: url("../fonts/Futura\ Bold.otf") format("otf"),
    url("../fonts/Futura\ Bold.otf") format("otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Univers";
  src: url("../fonts/wavehaus.woff") format("woff"),
    url("../fonts/wavehaus.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
}

button:not[disabled],
summary {
  cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* startje */
  --color-text: #111;
  --color-background: #eee;
  --color-fed: #4d148c;
  --color-ex: #ff6600;
}

/****************/
/* JOUW STYLING */
/****************/
body {
  /* font-family: eenfont, sans-serif; */
  color: var(--color-text);
  background-color: var(--color-background);
}

/* jouw code */

@keyframes LetterFade {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  100% {
    opacity: 1;
  }
}

h1 {
  font-size: 7em;
  letter-spacing: -0.17em;
}

h1 span:nth-child(1) {
  letter-spacing: -0.2em;
}

h1 span:nth-child(1),
span:nth-child(2),
span:nth-child(3),
span:nth-child(4) {
  font-family: futura, sans;
}

h1 span:nth-child(1),
span:nth-child(2),
span:nth-child(3) {
  color: var(--color-fed);
}

h1 span:nth-child(4),
span:nth-child(5) {
  color: var(--color-ex);
}

h1 span:nth-child(3) {
  letter-spacing: -0.2em;
}

h1 span:nth-child(4) {
  letter-spacing: -0.18em;
}

h1 span:nth-child(5) {
  font-size: 0.925em;
  font-family: Univers, sans-serif;
  font-weight: 800;
}

h1 span:nth-child(3)::before {
  content: "";
  position: absolute;
  left: 21%;
  top: 13.53%;

  background-color: var(--color-background);
  width: 0.24em;
  height: 0.1em;
}

h1 span:nth-child(1) {
  animation: LetterFade 1s forwards;
}

h1 span:nth-child(2) {
  animation: LetterFade 1s forwards;
  animation-delay: 0.3s;
}

h1 span:nth-child(3) {
  animation: LetterFade 1s forwards;
  animation-delay: 0.6s;
}

h1 span:nth-child(4) {
  animation: LetterFade 1s forwards;
  animation-delay: 0.9s;
}

h1 span:nth-child(5) {
  animation: LetterFade 1s forwards;
  animation-delay: 1.2s;
}
